{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Escolha o Tipo de Pessoa</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Professor</h5>
                        <p class="card-text">Cadastrar um novo Professor.</p>
                        <a href="{% url 'create_professor' %}" class="btn btn-primary">Cadastrar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Aluno</h5>
                        <p class="card-text">Cadastrar um novo Aluno.</p>
                        <a href="{% url 'create_aluno' %}" class="btn btn-primary">Cadastrar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Disciplina</h5>
                        <p class="card-text">Cadastrar uma nova Disciplina.</p>
                        <a href="{% url 'create_disciplina' %}" class="btn btn-primary">Cadastrar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Matrícula</h5>
                        <p class="card-text">Cadastrar uma nova Matrícula.</p>
                        <a href="{% url 'create_matricula' %}" class="btn btn-primary">Cadastrar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ProfDisc</h5>
                        <p class="card-text">Cadastrar uma nova ProfDisc.</p>
                        <a href="{% url 'create_profdisc' %}" class="btn btn-primary">Cadastrar</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}