{% extends 'base.html' %}

{% block title %}Deletar Professor{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2>Confirmar Exclusão</h2>
    <p>Você está prestes a excluir o professor: <strong>{{ obj.profnome }}</strong>. Tem certeza?</p>

    <form method="post" action="{% url 'delete_professor' numero=obj.numero_prof %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
      <a href="{% url 'list_professor' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
{% endblock %}