{% extends 'base.html' %}

{% block title %}Lista de ProfDiscs{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2>Lista de ProfDiscs</h2>

    <div class="mt-4 mb-2">
      <a class="btn btn-primary" href="{% url 'create_profdisc' %}">Nova ProfDisc</a>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nome do Professor</th>
          <th>Nome da Disciplina</th>
          <th>Ano</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in list_obj %}
          <tr>
            <td>{{ obj.professor_nome }}</td>
            <td>{{ obj.disciplina_nome }}</td>
            <td>{{ obj.ano }}</td>
            <td>
              <a href="{% url 'edit_profdisc' numero_prof=obj.numero_prof codigo_disc=obj.codigo_disc ano=obj.ano %}" class="btn btn-primary btn-sm">Editar</a>
              <a href="{% url 'delete_profdisc' numero_prof=obj.numero_prof codigo_disc=obj.codigo_disc ano=obj.ano %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}