{% extends 'base.html' %}

{% block title %}Lista de Professores{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2>Lista de Professores</h2>

    <div class="mt-4 mb-2">
      <a class="btn btn-primary" href="{% url 'create_professor' %}">Novo</a>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Numero_prof</th>
          <th>Nome</th>
          <th>Profrua</th>
          <th>Profcidade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in list_obj %}
          <tr>
            <td>{{ obj.numero_prof }}</td>
            <td>{{ obj.profnome }}</td>
            <td>{{ obj.profrua }}</td>
            <td>{{ obj.profcidade }}</td>
            <td>
              <a href="{% url 'edit_professor' numero=obj.numero_prof %}" class="btn btn-primary btn-sm">Editar</a>
              <a href="{% url 'delete_professor' numero=obj.numero_prof %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}